@model Haberler.WebUI.MVC.Models.Haber

@{
    Layout = null;
}
<!doctype html>
<html ⚡>
<head>
    <meta charset="utf-8">
    <title>Amp-Haber</title>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async custom-element="amp-live-list" src="https://cdn.ampproject.org/v0/amp-live-list-0.1.js"></script>
    <link rel="canonical" href="https://amp.dev/documentation/examples/news-publishing/live_blog/index.html">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            animation: -amp-start 8s steps(1,end) 0s 1 normal both
        }

        @@-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style>
    <noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>

    <style amp-custom>
        :root {
            --color-primary: #005AF0;
            --color-secondary: #00DCC0;
            --color-text-light: #fff;
            --color-text-dark: #000;
            --space-1: .5rem; /* 8px */
            --space-2: 1rem; /* 16px */
        }

        .carousel .slide > amp-img > img {
            object-fit: contain;
        }

        .amp-social-share {
            margin-right: var(--space-1);
        }

        .heading {
            padding: var(--space-2);
        }

            .heading > #summary {
                font-weight: 500;
            }

            .heading > small {
                color: var(--color-primary);
            }

        .date {
            color: var(--color-primary);
            font-size: 12px;
        }

    </style>
</head>
<body>

    <section class="heading">
        <h1>@Model.Title</h1>
        <p><small class="date">@Model.StartDate</small></p>
        <p><small>Haber No: @Model.Id</small></p>
        <p><label>@Html.Raw(GoogleAmpConverter.Convert(Model.Text))</label></p>
        <h1> @Html.ActionLink("Geri Dön", "AMPHaberler", "Home")</h1>
    </section>



</body>
</html> 